extends layout

include mixins

block content
  article.page
    header.page__header
      h1.page__title= page.fields.name

    section.page__content
      .post-list
        each post in posts
          .post-item
            a.post-item__link(href='/post/' + post.fields.slug)
              - const { title, file: { url } } = post.fields.image.fields
              - const params = ['w=570']
              +image({ url, title, params })(class="post-item__image")
              .post-item__content
                h2.post-item__title= post.fields.name
