extends layout

block content
  .page
    h1= page.fields.name

    .post-list
      each post in posts
        .post-list__item
          h2
            a(href='/post/' + post.fields.slug)= post.fields.name
