doctype html
html(lang="en")
  head
    block head
      title Contentful Node
      link(rel="stylesheet" href="/main.css")
      script(src="/main.js" defer)
      link(rel="shortcut icon" href="/favicon.ico")
  body
    header
      block header
        h1 Contentful Node

    block content

    footer
      block footer
