mixin img(src, alt, params)
  - var defaults = ['q=70'];
  - var webpSrc = src + '?' + ['fm=webp'].concat(defaults, params).join('&')
  - var jpgSrc = src + '?' + ['fm=jpg'].concat(defaults, params).join('&')

  picture(class!=attributes.class)
    source(type="image/webp" srcset=webpSrc)
    source(type="image/jpeg" srcset=jpgSrc)
    img(src=jpgSrc alt=alt loading="lazy")
