extends layout

block content
  article.post
    header.post__header
      h1.post__title= post.fields.name
    section.post__content
      != documentToHtmlString(post.fields.content, richTextOptions)
