doctype html
html(lang="en")
  head
    block head
      title Contentful Node
      link(rel="stylesheet" href="/app.css")
      script(src="/app.js" defer)
  body
    header
      block header
        h1 Contentful Node

    block content

    footer
      block footer
