@import 'variables';
@import 'mixins';

#header {
  padding-left: $spacer;
  padding-right: $spacer;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;

  @include media(lg) {
    padding-left: $spacer * 2;
    padding-right: $spacer * 2;
  }
}

#main {
  padding-top: 5rem;
}

.logo {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
}
